parameters:
    reportUnmatchedIgnoredErrors: false
    inferPrivatePropertyTypeFromConstructor: true
    level: 1
    paths:
        - src
        - tests
    excludePaths:
        - src/Constraints/OptionalLength6Validator.php
